---
import Layout from "@/layouts/BlogPost.astro";
import Card from "@/components/card.astro";
const tags = ["astro", "react", "svelte", "vue", "web-components"];
const description = `Um breve resumo   `;

const cromos = [
  {
    nome: "Camila Duarte",
    denominacao: "Pataias",
    imagem: "/assets/camila.webp",
  },
  {
    nome: "Daniela Ribeiro",
    denominacao: "Figueiró dos Vinhos",
    imagem: "/assets/daniela.webp",
  },
  {
    nome: "Diogo Brás",
    denominacao: "Entroncamento",
    imagem: "/assets/diogo.webp",
  },
  {
    nome: "Lara Gomes",
    denominacao: "Mira de Aire",
    imagem: "/assets/lara.webp",
  },
  {
    nome: "Matilde Albarino",
    denominacao: "Figueira da Foz",
    imagem: "/assets/matilde.webp",
  },
  {
    nome: "Tomás Loureiro",
    denominacao: "Albufeira",
    imagem: "/assets/tomas (2).jpg",
  },
  // adiciona mais cromos conforme precisares
];
---

<Layout
  tags={tags}
  icon="web"
  title="Sobre nós"
  author="Grupo"
  description={description}
  pubDate={new Date("August 08 2021")}
  heroImage="/src/assets/meninos.jpg"
>
  <p>Caros leitores, sejam bem vindos ao nosso website.</p>
  <p>Se estão à procura de informação sobre futebol, vieram ao sítio certo.</p>
  <p>
    Este website foi criado no âmbito da unidade curricular de estudos práticos
    de futebol, parte integrante da Licenciatura de Ciências do Desporto da
    Universidade da Beira Interior. O website foi desenvolvido com a finalidade
    de fazermos um portfólio dedicado ao futebol.
  </p>
  <p>
    Foi criado e desenvolvido com dedicação por um grupo de estudantes do 2.º
    ano desta unidade curricular e curso.
  </p>
  <h3>Eis os autores:</h3>
  <section class="cromos-grid">
    {cromos.map((cromo) => <Card {...cromo} />)}
  </section>
</Layout>

<style>
  .cromos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
</style>
