---
import Layout from "@/layouts/BlogPost.astro";
const tags = ["astro", "react", "svelte", "vue", "web-components"];
const description = `
  <p class="text-left">
    Foto de <a
      href="https://unsplash.com/es/@francescobiancoo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >Francesco Bianco</a
    > en <a
      class=" text-pgreen font-bold"
      href="https://unsplash.com/es/fotos/arte-mural-floral-dorado-y-azul-TVsgRyKJDc0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >Unsplash</a
    >
  </p>
`;
---

<Layout
  tags={tags}
  icon="web"
  title="Sobre nós"
  author="Matilde"
  description={description}
  pubDate={new Date("August 08 2021")}
  heroImage="/src/assets/jogo.webp"
>
  <p>Caros leitores, sejam bem vindos ao nosso websites.</p>
  <p>Se estão à procura de informação sobre futebol, vieram ao sítio certo.</p>
  <p>
    Este website foi criado no âmbito da unidade curricular de estudos práticos
    de futebol, parte integrante da Licenciatura de Ciências do Desporto da
    Universidade da Beira Interior. O website foi desenvolvido com a finalidade
    de fazermos um portfólio dedicado ao futebol.
  </p>
  <p>
    Foi criado e desenvolvido com dedicação por um grupo de estudantes do 2.º
    ano desta unidade curricular e curso.
    <br />
    Eis os autores: Matilde Albarino, natural da Figueira da Foz; Camila Duarte,
    de Pataias; Tomás Loureiro, de Albufeira; Lara Gomes, de Mira de Aire; Daniela
    Ribeiro, de Figueiró dos Vinhos; Diogo Braz, natural do Entroncamento.
  </p>
</Layout>
