---
import Layout from "@/layouts/BlogPost.astro";
const tags = ["astro", "react", "svelte", "vue", "web-components"];
const description = `Glossário   `;
---

<Layout
  tags={tags}
  icon="web"
  title="Bibliografia"
  author="Grupo"
  description={description}
  pubDate={new Date("April 08 2025")}
  heroImage="/src/assets/campo.webp"
>
  <h1>Bibliografia</h1>
  <p>
    - Vicente, A. (2025). 2ªS Aula TE - 25Fev2025. Documento de Apoio à UC Estudos Práticos de VII Futebol. Universidade da Beira Interior. <br><br>
- Vicente, A. (2025). 4ªS_Aula TE – 11Mar2025. Documento de Apoio à UC Estudos Práticos de VII Futebol. Universidade da Beira Interior.<br><br>
- Vicente, A. (2025). 5ªS Aula TE – 18Mar2025. Documento de Apoio à UC Estudos Práticos de VII Futebol. Universidade da Beira Interior.<br><br>
- Vicente, A. (2025). 7ªS Aula TE – 1Abr2025. Documento de Apoio à UC Estudos Práticos de VII Futebol. Universidade da Beira Interior.<br><br>
- Vicente, A. (2025). 8ªS Aula TE – 8Abr2025. Documento de Apoio à UC Estudos Práticos de VII Futebol. Universidade da Beira Interior.<br><br>
- Vicente, A. (2025). 9ªS Aula TE – 15Abr2025. Documento de Apoio à UC Estudos Práticos de VII Futebol. Universidade da Beira Interior.<br><br>
- Vicente, A. (2025). 11ªS Aula TE – 6Mai2025. Documento de Apoio à UC Estudos Práticos de VII Futebol. Universidade da Beira Interior.<br><br>
- Vicente, A. (2025). 12ªS Aula TE – 13Mai2025. Documento de Apoio à UC Estudos Práticos de VII Futebol. Universidade da Beira Interior.<br><br>
- Vicente, A. (2025). 13ªS Aula TE – 20Mai2025. Documento de Apoio à UC Estudos Práticos de VII Futebol. Universidade da Beira Interior.<br><br>
- Vicente, A. (2025). 14ªS Aula TE – 27Mai2025. Documento de Apoio à UC Estudos Práticos de VII Futebol. Universidade da Beira Interior.<br><br>
- Vicente, A. (2025). 15ªS Aula TE – 3Jun2025. Documento de Apoio à UC Estudos Práticos de VII Futebol. Universidade da Beira Interior.<br><br>
  </p>
</Layout>
